@import '../../../../../common.styl'
@import '../../styles.m.styl'

.row
  min-height 64px
  display grid
  grid-template-columns 1fr 5fr 6fr 3fr 4fr

  div
    display flex
    align-items center

    div
      width 80%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500
  color $primary-dark